[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
json = "*"
flask-pymongo = "*"
hashlib = "*"
binascii = "*"
flask-cors = "*"
pyjwt = "*"

[requires]
python_version = "3.6"
